.git
.git/
.git/**
node_modules/
.expo
.expo/
.expo/**
dist/
preview
preview/
preview/**
play-store-assets/
deployment_cert.der
builds/

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/.cxx/

ios/Pods/
ios/build/
ios/DerivedData/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.env
.env.local
.DS_Store
