<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1zHX-wJAd3nH94fR56mZ6yoPZiF2ot5w</string>
	<key>GCM_SENDER_ID</key>
	<string>882317782417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gurudevelopers.vibes</string>
	<key>PROJECT_ID</key>
	<string>vibes-d05e4</string>
	<key>STORAGE_BUCKET</key>
	<string>vibes-d05e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882317782417:ios:57d10d02c14467f925fe30</string>
</dict>
</plist>